@charset "utf-8";
.nav-quick {
  position:fixed;
  left: 0;
  top: 50%;
  margin-top: -80px;
  padding: 10px 0;
  width: 60px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
}
.nav-quick a{
  display: block;
  font: 16px/1.5 "Microsoft Yahei";
}