@charset "UTF-8";

body {
	width: 100%;
	max-width: 640px;
	min-width: 320px;
	margin-left: auto;
	margin-right: auto;
	font-size: 3.2rem;
}

button {
	cursor: pointer;
}
.header {
	color: #fff;
	text-align: center;
	background: #29bde0;
}

body, h1, h2, h3, h4, h5, h6, p, button {
	letter-spacing: 2px;
}